button {
  text-align: right;
}
#count {
  font-style: normal;
  font-weight: bold;
}
#logo {
  width: 200px;
  height: 200px;
  background: url("../assets/holberton-logo.jpeg");
  background-position: center;
  background-size: contain;
}
